* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

/* NAVBAR */
#logo img {
    height: 40px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 1px solid #AA40A1;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

#navbar ul li a:hover {
    color: #D870C8;
}

/* CONTAINER */
.container {
    min-height: 60vh;
    padding: 2em;
}

/* MESSAGES*/
.message {
    padding: 1em;
    /* Roxo Escuro */
    background-color: #D870C8;
    border: 1px solid #D870C8;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}

/* LOGIN E REGISTER */
.auth-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-container h2 {
    margin-bottom: 1em;
    color: #FFF;
    border-left: 4px solid #AA40A1;
    padding: .3em;
    width: 100px;
}

.auth-container a {
    color: #AA40A1;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .5em;
}

.form-control input,
.form-control textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #AA40A1;
}

form input[type="submit"],
.btn {
    background-color: transparent;
    color: #AA40A1;
    border: 2px solid #AA40A1;
    padding: .5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

form input[type="submit"]:hover,
.btn:hover {
    background-color: #AA40A1;
    color: #FFF;
}

/* CREATE / EDIT FORM */
.tought-form-container a {
    color: #AA40A1;
}

.tought-form-container a:hover {
    color: #D870C8;
}

.tought-form-container h1 {
    margin: 1em 0;
    color: #FFF;
    border-left: 4px solid #AA40A1;
    padding: .3em;
}

.tought-form-container form {
    max-width: 30%;
    margin-top: 1.5em;
}

/* DASHBOARD */

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.title-container h2 {
    border-left: 4px solid #AA40A1;
    padding: 10px;
}

.dashboard h3 {
    margin-bottom: 1.5em;
}

.dashboard ul {
    list-style: none;
}

.dashboard li {
    padding: 12px;
    border-bottom: 1px solid #AA40A1;
    display: flex;
    align-items: center;
    border-top: 1px solid #AA40A1;
}

.dashboard .label {
    font-weight: bold;
    color: #AA40A1;
}

.dashboard .actions {
    display: flex;
}

.dashboard .actions .btn {
    color: #FFF;
    border-color: #FFF;
    margin: 0 0.5em;
}

/* FOOTER */
footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #AA40A1;
}

footer span {
    font-weight: bold;
    color: #AA40A1;
}


/* HOME */
.home-header {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.home-header h1 {
  margin-bottom: 1em;
}

.home-header span {
  color: #AA40A1;
}

.home-header p {
  margin-bottom: 1.2em;
}

.home-header form {
  margin-bottom: 1em;
}

.home-header input {
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.5em;
  margin-right: 1em;
}

.home-header input[type='text'] {
  width: 60%;
}

.home-header input::placeholder {
  color: #fff;
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto 1em;
}

.order-container span {
  font-weight: bold;
  color: #fff;
}

.order-container form {
  margin: 0;
}

.order-container button {
  margin-bottom: 0;
  border: none;
  cursor: pointer;
}

.order-container button:hover,
.order-container a:hover {
  color: #AA40A1;
}

.order-container span,
.order-container button,
.order-container a {
  margin: 0 10px;
}

.order-container i {
  color: #AA40A1;
}

.toughts-container figure {
  border-bottom: 1px solid #333;
  padding: 0.5em;
  max-width: 50%;
  margin: 0 auto 1em;
}

.toughts-container blockquote {
  font-style: italic;
  font-size: 2em;
  margin-bottom: 0.4em;
}

.toughts-container span {
  color: #AA40A1;
}